:root {
  --basic-color: #4bcfa0;
  --lightgray-color: #E5E5E5;
}
html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
::before,
::after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
a, a:hover {
  text-decoration: none;
  color: inherit;
}
button:focus, input:focus, textarea:focus {
  outline: none;
}
body {
  background-color: var(--lightgray-color);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
sup {
  font-size: 0.5em;
  vertical-align: super;
}
sub {
  font-size: 0.5em;
  vertical-align: sub;
}
.transition {
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
}
.w-100 {
  width: 100%;
}
.btn {
  display: inline-block;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  color: var(--basic-color);
  background-color: transparent;
  font-weight: 500;
}
.btn:hover {
  color: #FFFFFF;
  background-color: var(--basic-color);
  border-color: var(--basic-color);
}
.btn.btn-default {
  color: #FFFFFF;
  background-color: var(--basic-color);
  border-color: var(--basic-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.btn.btn-default:hover {
  color: #FFFFFF;
  background-color: var(--basic-color);
  border-color: var(--basic-color);
  box-shadow: unset;
}
.btn.wide {
  font-size: 24px;
  line-height: 28px;
  padding-left: 48px;
  padding-right: 48px;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.text-center {
  text-align: center;
}
.card {
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 24px;
  width: 100%;
  max-width: 350px;
  margin: 20px;
  cursor: pointer;
}
.card:hover {
  box-shadow: 24px 24px 40px rgba(75, 207, 160, 0.08);
}
.modal-item .category,
.card .category {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  margin-bottom: 8px;
}
.modal-item .name,
.card .name {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
}
.modal-item .price,
.card .price {
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.02em;
}
.card .btn {
  float: right;
  font-weight: 500;
  text-transform: uppercase;
  margin-top: 20px;
}
.card:hover .btn {
  color: #FFFFFF;
  background-color: var(--basic-color);
  border-color: var(--basic-color);
}
.modal-wrap {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 15px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.75);
}
.modal-wrap.active {
  display: flex;
}
.modal-body {
  width: 100%;
  max-width: 385px;
  background-color: #FFFFFF;
  border-radius: 24px;
  padding: 50px;
  text-align: center;
  position: relative;
}
.modal-body .close {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #F2F2F2;
  color: rgba(0, 0, 0, 0.5);
}
.modal-body .close:hover {
  color: rgba(0, 0, 0, 1);
  transform: rotate(180deg);
}
.modal-body .oneItem {
  margin-bottom: 30px;
}
.form-group {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.form-group .input {
  width: 100%;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.02em;
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.form-group .input:focus {
  border-color: var(--basic-color);
}
.form-group .clear,
.form-group .warning {
  display: none;
  position: absolute;
}
.form-group .clear {
  top: -10px;
  right: -10px;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  color: #FFFFFF;
  background-color: #E43F3F;
}
.form-group .warning {
  top: 100%;
  left: 0;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.02em;
  color: #E43F3F;
}
.form-group.error .input {
  border-color: #E43F3F;
}
.submitBtn {
  box-shadow: unset !important;
}
.submitBtn::after {
  font-family: 'icomoon';
  content: "\ea3c";
  transition: all 0.2s linear;
  opacity: 0;
  margin-left: -13px;
}
.submitBtn:hover::after {
  opacity: 1;
  margin-left: 8px;
}